<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>jQuery UI Tabs - Default functionality</title>
  <h1>Panel de control</h1>
  <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
  <link href="/resources/demos/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

      $( function() {
          $( "#tabs" ).tabs();
      } );

  </script>
</head>
<body>
<div id="tabs">
  <ul>
    <li>
      <%= link_to 'Categorías', manager_categories_path,style: 'color: black; text-decoration: none;border: none;background-color: #216288;' %>
    </li>
    <li>
      <%= link_to 'Usuarios' , manager_users_path, style: 'color: black; text-decoration: none;border: none;background-color: #216288;'%>
    </li>
    <li>
      <%= link_to 'Imágenes Rotativas', manager_rotating_images_path, style: 'color: black; text-decoration: none;border: none;background-color: #216288;'%>
    </li>
    <li>
      <%= link_to 'Contáctenos', manager_contacts_path, style: 'color: black; text-decoration: none;border: none;background-color: #216288;'%>
    </li>

  </ul>

</div>
</body>
<br/>
<div align="center">
  <%= link_to 'Salir' ,destroy_user_session_path, class: 'btn9 salir', style: 'color: white; text-decoration: none',method: :delete  %>
  <%#= button_to 'Salir',destroy_user_session_path, method: :delete , class: 'btn9 borrar'%>
</div>
<br/>

<div class="container">
  <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
      </div>

    </div>
  </div>

</div>

</html>