<%= form_for([:manager, @contact])do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> Contacto no se puede guardar:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-style-9">

    <ul>
      <li>
    <%= label_tag(:label, "Dirección:") %>
    <%= form.text_field :address %>
    <br></li>

      <li>
    <%= label_tag(:label, "Teléfono:") %>
    <%= form.text_field :phone %><br>
      </li>

      <li>
    <%= label_tag(:label, "Mail:") %>
    <%= form.text_field :email %><br>
      </li>

      <li>
    <%= form.submit(:Actualizar) %>
      </li>

    </ul>
  </div>
<% end %>
