<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>

<h1>Contáctenos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <div class="form-style-9">
    <% @contacts.each do |contact| %>


        <ul>
          <li>
      <%= label_tag(:label, "Dirección: ") %>
      <%= contact.address %><br>
          </li>

          <li>
      <%= label_tag(:label, "Teléfono:") %>
      <%= contact.phone%><br>
          </li>

          <li>
      <%= label_tag(:label, "Mail:") %>
      <%= contact.email %><br>
          </li>
        </ul>

        <div align="center">
          <%= link_to 'Editar' ,edit_manager_contact_path(contact), class: 'btn9 normal', style: 'color: white; text-decoration: none', method: :get %>

        </div>

    <% end %>
  </div>
  </body>
</table>

<br>



<%#=Comentario para que no muestre boton de nuevo%>
<%#=<%= link_to 'New Contact', new_manager_contact_path %>
