<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>

<div align="center" class="container infoOrange" style="width: 100%">
<h1>Contáctenos</h1>
</div>

  <div class="container divLogin">
    <% @contacts.each do |contact| %>


        <div class="form-group">
          <label for="name" class="cols-sm-2 control-label">Dirección</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
              <%= contact.address %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="name" class="cols-sm-2 control-label">Teléfono</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
              <%= contact.phone%>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="name" class="cols-sm-2 control-label">Correo Electrónico</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
              <%= contact.email %>
            </div>
          </div>
        </div>

  </div>
        <div align="center">
          <%= link_to 'Editar' ,edit_manager_contact_path(contact), class: 'btn9 editar', style: 'color: white; text-decoration: none', method: :get %>

        </div>

  </body>
    <% end %>
