<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>

<h1>Contáctenos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <br>
    <% @contacts.each do |contact| %>

      <%= label_tag(:label, "Dirección: ") %>
      <%= contact.address %><br>

      <%= label_tag(:label, "Teléfono:") %>
      <%= contact.phone%><br>

      <%= label_tag(:label, "Mail:") %>
      <%= contact.email %><br>
        <%#=Comentario para que no muestre boton de mostrar%>
        <%#=<td><%= link_to 'Show', manager_contacts_path(contact) %><%#=</td>%>
      
      <%= link_to 'Editar', edit_manager_contact_path(contact), method: :get %></br>
      <%= link_to 'Inicio', manager_root_path %>

        <%#=Comentario para que no muestre boton de eliminar%>
        <%#=<td><%= link_to 'Destroy', manager_contacts_path(contact), method: :delete, data: { confirm: 'Are you sure?' } %><%#=</td>%>
    <% end %>
  </body>
</table>

<br>

<%#=Comentario para que no muestre boton de nuevo%>
<%#=<%= link_to 'New Contact', new_manager_contact_path %>
