<div align="center" class="container infoOrange" style="width: 100%">
  <h1>Contáctenos</h1>
</div>

<p id="notice"><%= notice %></p>

<div class="form-style-9">

  <ul>
    <li>
      <%= label_tag(:label, "Dirección:") %>
      <%= @contact.address %>
      <br></li>

    <li>
      <%= label_tag(:label, "Teléfono:") %>
      <%= @contact.phone %><br>
    </li>

    <li>
      <%= label_tag(:label, "Mail:") %>
      <%= @contact.email%><br>
    </li>

  </ul>
</div>

<div align="center">
  <%= link_to 'Panel de Control' , manager_root_url, class: 'btn9 normal', style: 'color: white; text-decoration: none'%>
</div>
