<%= form_for([:manager, @user]) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2 class="error"><%= pluralize(user.errors.count, "error") %> No se pudo guardar:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li class="errors"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="container" align="center">
      <%= label_tag(:label, "Nombre:") %>
      <%= form.text_field :first_name %>
      <br/>
      <%= label_tag(:label, "Apellido:") %>
      <%= form.text_field :last_name %>
      <br/>
      <%= label_tag(:label, "Telefono:") %>
      <%= form.text_field :phone %>
      <br/>
      <%= label_tag(:label, "Identificacion:") %>
      <%= form.text_field :id_card %>
      <br/>
      <%= label_tag(:label, "Mail:") %>
      <%= form.text_field :email %>
      <br/>
      <%= label_tag(:label, "Contraseña:") %>
      <%= form.text_field :password %>
      <br/>
      <%= form.submit %>
    </div>
<% end %>
