<%= form_for([:manager, @user]) do |form| %>
    <% if user.errors.any? %>
        <div id="error_explanation">
          <h2 class="messError"> No se pudo guardar:</h2>
          <ul class="msjError">
            <% user.errors.full_messages.each do |message| %>
                <li class="alert"><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="container divLogin">

      <div class="form-group alinearIzq">
        <label for="name" class="cols-sm-2 control-label">Nombre</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <%= form.text_field :first_name ,required: true%>
          </div>
        </div>
      </div>

      <div class="form-group alinearIzq">
        <label for="name" class="cols-sm-2 control-label">Apellido</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <%= form.text_field :last_name ,required: true%>
          </div>
        </div>
      </div>


      <div class="form-group alinearIzq">
        <label for="username" class="cols-sm-2 control-label">Cédula</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-address-card fa" aria-hidden="true"></i></span>
            <%= form.text_field :id_card, remote: true,required: true %>
          </div>
        </div>
      </div>

      <div class="form-group alinearIzq">
        <label for="role_ids" class="cols-sm-2 control-label">Rol</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-address-card fa" aria-hidden="true"></i></span>
            <%= form.collection_select :role_id, Role.all.order(:name),:id,:name, selected: @user.role&.id %>
          </div>
        </div>
      </div>

      <div class="form-group alinearIzq">
        <label for="email" class="cols-sm-2 control-label">Correo Electrónico</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
            <%= form.text_field :email,required: true %>
          </div>
        </div>
      </div>

      <div class="form-group alinearIzq">
        <label for="phone" class="cols-sm-2 control-label">Teléfono</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
            <%= form.text_field :phone,required: true %>
          </div>
        </div>
      </div>

    <% if @user.new_record? %>
      <div class="form-group alinearIzq">
        <label for="password" class="cols-sm-2 control-label">Contraseña</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <%= form.password_field :password,required: true %>
          </div>
        </div>
      </div>

      <div class="form-group alinearIzq">
        <label for="confirm" class="cols-sm-2 control-label">Confirme Contraseña</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <%= form.password_field :password_confirmation,required: true %>
          </div>
        </div>
      </div>
    <% end %>
      <br/>
      <div align="center">
        <%= form.submit 'Guardar', :class => 'btn9 editar', :style => 'color: white; text-decoration: none' %>
        <br/><br/>
      </div>
    </div>



<% end %>
