<div align="center" class="container infoGreen" style="width: 100%">
  <h1>Usuarios</h1>
</div>
<p id="notice"><%= notice %></p>

<table class="form-style-9">
  <thead class="form-style-9">
    <tr class="form-style-9">
      <th>Nombre</th>
      <th>Apelllido</th>
      <th>Identificación</th>
      <th>Teléfono</th>
      <th>Correo electrónico</th>
      <th colspan="2" style="text-align:center;">Opciones</th>
    </tr>
  </thead>

  <tbody class="form-style-9">

    <% @users.each do |user| %>

      <tr >
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.id_card %></td>
        <td><%= user.phone %></td>
        <td><%= user.email %></td>

        <!--<td><%= link_to 'Show', manager_user_path(user) %></td> -->
        <td><%#= button_to 'Editar', edit_manager_user_path(user), method: :get %>
          <%= link_to 'Editar' ,edit_manager_user_path(user), class: 'btn9 editar', style: 'color: white; text-decoration: none',method: :get  %>
        </td>
        <td><%#= button_to 'Eliminar', manager_user_path(user), method: :delete, data: { confirm: 'Está segguro de eliminar la cuenta?' } %>
          <%= link_to 'Eliminar' ,manager_user_path(user), class: 'btn9 borrar', style: 'color: white; text-decoration: none',method: :delete, data: { confirm: 'Está segguro de eliminar la cuenta?'}  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div align="center">
  <%#= button_to 'Nuevo', new_manager_user_path %>
  <%= link_to 'Nuevo' ,new_manager_user_path, class: 'btn9 info', style: 'color: white; text-decoration: none' %>
  <%= link_to 'Panel de Control' ,manager_root_url, class: 'btn9 normal', style: 'color: white; text-decoration: none' %>
</div>


<br>
<br>

<%#=<%= link_to 'Inicio', manager_root_path %>
