<p id="notice"><%= notice %></p>

<div align="center" class="container">
  <h1>Usuarios</h1>
</div>


<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>NOMBRE</th>
      <th>APELLIDO</th>
      <th>IDENTIFICACION</th>
      <th>TELEFONO</th>
      <th>MAIL</th>
    </tr>
  </thead>

  <tbody>

    <% @users.each do |user| %>

      <tr >
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.id_card %></td>
        <td><%= user.phone %></td>
        <td><%= user.email %></td>

        <!--<td><%= link_to 'Show', manager_user_path(user) %></td> -->
        <td><%= button_to 'Editar', edit_manager_user_path(user), method: :get %></td>
        <td><%= button_to 'Eliminar', manager_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div align="center">
  <%= button_to 'Nuevo', new_manager_user_path %>
</div>

<br>
<br>

<%#=<%= link_to 'Inicio', manager_root_path %>
