<div align="center" class="container infoGreen" style="width: 100%">
  <h1>Usuarios</h1>
</div>

<p id="notice"><%= notice %></p>

<div class="container divLogin">

  <div class="form-group">
    <label for="name" class="cols-sm-2 control-label">Nombre</label>
    <div class="cols-sm-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
        <%= @user.first_name %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="cols-sm-2 control-label">Apellido</label>
    <div class="cols-sm-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
        <%= @user.last_name %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="username" class="cols-sm-2 control-label">Cédula</label>
    <div class="cols-sm-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-address-card fa" aria-hidden="true"></i></span>
        <%= @user.id_card %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="email" class="cols-sm-2 control-label">Correo Electrónico</label>
    <div class="cols-sm-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
        <%= @user.email %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="email" class="cols-sm-2 control-label">Teléfono</label>
    <div class="cols-sm-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
        <%= @user.phone %>
      </div>
    </div>
  </div>

</div>

<div align="center">
  <%= link_to 'Panel de Control' , manager_root_url, class: 'btn9 normal', style: 'color: white; text-decoration: none'%>
</div>
