<%= form_for([:manager, @rotating_image]) do |form| %>
  <% if rotating_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rotating_image.errors.count, "error") %> No se puede guardar:</h2>

      <ul>
      <% rotating_image.errors.full_messages.each do |message| %>
        <li class="alert alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div align="center" class="container; form-style-9">
      <%= label_tag(:label, "Descripción:") %>
      <%= form.text_field :name %>
      <br/><br/><br/>
      <%= image_tag rotating_image.rotating_file.url(:medium) %>
      <br/><br/><br/>
      <%= label_tag(:label, "Seleccione Imagen") %>
      <%= form.file_field :rotating_file %>
      <br/><br/><br/>
      <div align="center">
        <%= form.submit 'Actualizar' , :class => 'btn9 editar', :style => 'color: white; text-decoration: none' %>
        <br/><br/>
      </div>
  </div>
<% end %>
