<div align="center" class="container infoGrape" style="width: 100%">
  <h1>Imágenes Rotativas</h1>
</div>
<p id="notice"><%= notice %></p>
<br/>
<div align="center">
  <%#=<%= link_to 'Nueva Imagen', new_manager_rotating_image_path, class: 'btn9 normal', style: 'color: white; text-decoration: none'%>
</div>
<br/>
<table class="form-style-9">
  <thead>
  <tr class="form-style-9">
    <th>Imagen</th>
    <th>Descripción</th>
    <th>Posición</th>
    <th>Opciones</th>
  </tr>
  </thead>

  <tbody class="form-style-9">
    <% @rotating_images.each do |rotating_image| %>
      <tr >
        <td>
          <% if rotating_image.rotating_file %>
              <%= image_tag rotating_image.rotating_file.url(:medium) %>
          <% end %>
        </td>
        <td><%= rotating_image.name %></td>
        <td><%= rotating_image.position %></td>



        <td><%#= button_to 'Editar', edit_manager_rotating_image_path(rotating_image), method: :get %>
          <%= link_to 'Editar' ,edit_manager_rotating_image_path(rotating_image), class: 'btn9 editar', style: 'color: white; text-decoration: none',method: :get  %>
          </td>

        <%#=<td><%= button_to 'Eliminar', manager_rotating_image_path(rotating_image), method: :delete, data: { confirm: 'Are you sure?' } %>

      </tr>
    <% end %>
  </tbody>
</table>
<%#=<%= link_to '<button type="button">Inicio</button>'.html_safe, manager_root_path %>
<br/>


