<%= form_for([:manager, @category]) do |form| %>
    <% if category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

          <ul>
            <% category.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div align="center" class="container; form-style-9">
      <%= label_tag(:label, "Titulo:") %>
      <%= form.text_field :title %>
      <br/>
      <%= label_tag(:label, "Descripción:") %>
      <%= form.text_area :description %>
      <br/><br/><br/>
      <%= image_tag category.image.url(:thumb) %>
      <br/><br/><br/>
      <%= label_tag(:label, "Seleccione Imagen") %>
      <%= form.file_field :avatar %>
      <br/><br/>


      <%#=TO DO Editar para que se carguen los archivos y se escondan si no hay un check%>
      <%= form.check_box(:status)%>
      <%= label_tag(:label, "Documentos") %>
      <br/><br/>
      <%= label_tag(:label, "Seleccione Archivo 1") %>
      <%= form.file_field :document %>
      <br/><br/>
      <%= label_tag(:label, "Seleccione Archivo 2") %>
      <%= form.file_field :document %>
      <br/><br/>
      <%= label_tag(:label, "Seleccione Archivo 3") %>
      <%= form.file_field :document %>


      <br/>


      <div align="center">
        <%= form.submit 'Actualizar' , :class => 'btn9 editar', :style => 'color: white; text-decoration: none' %>
        <br/><br/>
      </div>
    </div>
<% end %>