<p id="notice"><%= notice %></p>


<div class="form-style-9">

  <ul>
    <li>

      <%= label_tag(:label, "Título:") %>
      <%= @category.title %>
      <br></li>

      <li>
      <%= label_tag(:label, "Descripción:") %>
      <%= @category.description %>
        <br></li>

      <li>
        <%= label_tag(:label, "Posición:") %>
       <%= @category.position %>
      <br></li>


    <li>
      <%= label_tag(:label, "Imagen:") %>
      <% if @category.image %>
          <%= image_tag @category.image.url(:thumb) %>
      <% end %>
    </li>
  </ul>
</div>

<div align="center">
  <%= link_to 'Atras' , :back, class: 'btn9 editar', style: 'color: white; text-decoration: none'%>
</div>