<div align="center" class="container infoNote" style="width: 100%">
  <h1>Categorías</h1>
</div>

<p id="notice"><%= notice %></p>

<div class="container divLogin">


  <div class="form-group" align="center">
    <label for="name" class="cols-sm-2 control-label">Título</label>
    <div class="cols-sm-10">
      <div class="input-group">
        <%= @category.title %>
      </div>
    </div>
  </div>

  <div class="form-group" align="center">
    <label for="name" class="cols-sm-2 control-label">Descripción</label>
    <div class="cols-sm-10">
      <div class="input-group">
        <%= @category.description %>
      </div>
    </div>
  </div>

  <div class="form-group" align="center">
    <label for="name" class="cols-sm-2 control-label">Posición: </label>
        <%= @category.position %>
  </div>

  <div class="form-group" align="center">
    <label for="name" class="cols-sm-2 control-label">Imagen</label>
    <div class="cols-sm-10">
      <div class="input-group">
        <% if @category.image %>
            <%= image_tag @category.image.url(:thumb) %>
        <% end %>
      </div>
    </div>
  </div>

</div>

<div align="center">
  <%= link_to 'Panel de control' , manager_root_url, class: 'btn9 normal', style: 'color: white; text-decoration: none'%>
<%= link_to 'Editar' ,edit_manager_category_path, class: 'btn9 editar', style: 'color: white; text-decoration: none'%>
</div>
